
body {
	margin:0;
	padding:0;
}

.parent-element  {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

section.bg-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#bg-panel-1 { 
	background-image: url(../images/panel1.png);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
}

#bg-panel-2 { 
	background-image: url(../images/panel2.png);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-3 { 
	background-image: url(../images/panel3.png);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-4 { 
	background-image: url(../images/panel4.png);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-5 { 
	background-image: url(../images/panel5.png);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-6 { 
	background-image: url(../images/panel6.png);
    background-repeat: no-repeat;
    background-size: contain; 
	height: 1000px;  

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

