
body {
	margin:0;
	padding:0;
}

.parent-element  {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#touchjet { 
	background: url(../images/touchjet.png) 68% 10px no-repeat;
    //background-color: #4d7fad;  
	height: 70px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: absolute; 
	z-index: 4;
}

#bg-panel  {
   	margin: 0 auto;
	width: 85%;
    z-index: -15;
}


#bg-panel-1 { 
	background-image: url(../images/panel1.jpg);
    background-repeat: no-repeat;
    background-size: contain; 

	margin: 0 auto; 
    width: 1200px; 
    max-width: 1200px; 
}

#bg-panel-2 { 
	background-image: url(../images/panel2.png);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

#bg-panel-3 { 
	background-image: url(../images/panel3.jpg);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

#bg-panel-4 { 
	background-image: url(../images/panel4.jpg);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

#bg-panel-5 { 
	background-image: url(../images/panel5.png);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

#bg-panel-6 { 
	background-image: url(../images/panel6.png);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

#bg-panel-7 { 
	background-image: url(../images/panel7.png);
    background-repeat: no-repeat;
    background-size: contain; 

	//margin: 0 auto; 
    //width: 1200px; 
    //max-width: 1200px; 
    //position: relative; 
}

