
body {
	margin:0;
	padding:0;
}

#tjbackground { 
	background: url(../images/background.png) 50% 0 no-repeat fixed; 
	height: 20000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#touchjet{ 
	background: url(../images/touchjet.png) 68% 300px no-repeat fixed; 
	height: 20000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel { 
	background: url(../images/panel1.png) 50% 0 no-repeat fixed,
		url(../images/panel2.png) 50% 1475 no-repeat fixed; 
		//url(../images/panel3.png) 50% 0 no-repeat fixed, 
		//url(../images/panel4.png) 50% 0 no-repeat fixed, 
		//url(../images/panel5.png) 50% 0 no-repeat fixed, 
		//url(../images/panel6.png) 50% 0 no-repeat fixed, 
		//url(../images/panel7.png) 50% 0 no-repeat fixed; 

	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


#bg-panel-1 { 
	background: url(../images/panel1.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-2 { 
	background: url(../images/panel2.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#bg-panel-3 { 
	background: url(../images/panel3.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#bg-panel-4 { 
	background: url(../images/panel4.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#bg-panel-5 { 
	background: url(../images/panel5.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#bg-panel-6 { 
	background: url(../images/panel6.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#bg-panel-7 { 
	background: url(../images/panel7.png) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
