
body {
	margin:0;
	padding:0;
}

#tjbackground { 
	background: url(../images/background.png) 50% 0 no-repeat fixed; 
	height: 20000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#touchjet{ 
	background: url(../images/touchjet.png) 68% 300px no-repeat fixed; 
	height: 20000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

article#tjbackground  { 
	//background: url("../images/touchjet.png") no-repeat scroll center top transparent; 
	bottom: 500px; 
	position: absolute; 
	text-indent: -9999px; 
	width: 100%; 
	height: 1600px; 
}

article#touchjet { 
	//background: url("../images/touchjet.png") no-repeat scroll center top transparent; 
	bottom: 500px; 
	position: absolute; 
	text-indent: -9999px; 
	width: 100%; 
	height: 1600px; 
}




